*{
  padding: 0;
  margin: 0;
}
#window{
  width: 299px;
  height: 259px;
  border: 1px solid black;
  position: fixed;
}
#square{
  width: 20px;
  height: 20px;
  background-color: rgb(0, 0, 250);
  position: fixed;
  top: 0px;
  left: 0px;
}
#wall{
  position: fixed;
  width: 20px;
  height: 100px;
  background-color: rgb(0, 0, 0);
  left: 20px;
  top: 0px;
}
#wall2{
  position: fixed;
  width: 20px;
  height: 160px;
  background-color: rgb(0, 0, 0);
  left: 60px;
  top: 20px;
}

#wall3{
  position: fixed;
  width: 40px;
  height: 40px;
  background-color: rgb(0, 0, 0);
  left: 0px;
  top: 120px;
}

#wall4{
  position: fixed;
  width: 20px;
  height: 140px;
  background-color: rgb(0, 0, 0);
  left: 100px;
  top: 0px;
}
#wall5{
  position: fixed;
  width: 40px;
  height: 20px;
  background-color: rgb(0, 0, 0);
  left: 80px;
  top: 80px;
}
#wall6{
  position: fixed;
  width: 20px;
  height: 60px;
  background-color: rgb(0, 0, 0);
  left: 20px;
  top: 180px;
}
#wall7{
  position: fixed;
  width: 20px;
  height: 80px;
  background-color: rgb(0, 0, 0);
  left: 100px;
  top: 160px;
}
#wall8{
  position: fixed;
  width: 60px;
  height: 20px;
  background-color: rgb(0, 0, 0);
  left: 80px;
  top: 200px;
}
#wall9{
  position: fixed;
  width: 20px;
  height: 120px;
  background-color: rgb(0, 0, 0);
  left: 140px;
  top: 120px;
}
#wall10{
  position: fixed;
  width: 20px;
  height: 80px;
  background-color: rgb(0, 0, 0);
  left: 140px;
  top: 20px;
}
#wall11{
  position: fixed;
  width: 80px;
  height: 20px;
  background-color: rgb(0, 0, 0);
  left: 180px;
  top: 0px;
}
#wall12{
  position: fixed;
  width: 20px;
  height: 80px;
  background-color: rgb(0, 0, 0);
  left: 260px;
  top: 40px;
}
#wall13{
  position: fixed;
  width: 20px;
  height: 40px;
  background-color: rgb(0, 0, 0);
  left: 180px;
  top: 20px;
}
#wall14{
  position: fixed;
  width: 60px;
  height: 20px;
  background-color: rgb(0, 0, 0);
  left: 180px;
  top: 40px;
}
#wall15{
  position: fixed;
  width: 40px;
  height: 20px;
  background-color: rgb(0, 0, 0);
  left: 160px;
  top: 160px;
}
#wall16{
  position: fixed; 
  width: 60px;
  height: 20px;
  background-color: rgb(0, 0, 0);
  left: 160px;
  top: 80px;
}
#wall17{
  position: fixed; 
  width: 20px;
  height: 60px;
  background-color: rgb(0, 0, 0);
  left: 220px;
  top: 80px;
}
#wall18{
  position: fixed; 
  width: 20px;
  height: 20px;
  background-color: rgb(0, 0, 0);
  left: 180px;
  top: 120px;
}
#wall19{
  position: fixed; 
  width: 60px;
  height: 20px;
  background-color: rgb(0, 0, 0);
  left: 240px;
  top: 100px;
}
#wall20{
  position: fixed; 
  width: 20px;
  height: 100px;
  background-color: rgb(0, 0, 0);
  left: 260px;
  top: 140px;
}
#wall21{
  position: fixed; 
  width: 60px;
  height: 20px;
  background-color: rgb(0, 0, 0);
  left: 180px;
  top: 180px;
}
#wall22{
  position: fixed; 
  width: 40px;
  height: 20px;
  background-color: rgb(0, 0, 0);
  left: 220px;
  top: 160px;
}
#wall23{
  position: fixed; 
  width: 20px;
  height: 20px;
  background-color: rgb(0, 0, 0);
  left: 180px;
  top: 220px;
}
#wall24{
  position: fixed; 
  width: 20px;
  height: 40px;
  background-color: rgb(0, 0, 0);
  left: 220px;
  top: 220px;
}
#wall25{
  position: fixed; 
  width: 20px;
  height: 20px;
  background-color: rgb(250, 250, 250);
  left: 240px;
  top: 220px;
}
#win{
  position: fixed; 
  width: 20px;
  height: 20px;
  background-color: rgb(0, 250, 0);
  left: 280px;
  top: 240px;
}